<div class="container">
  <div class="row  items-margin bg-light rounded box-shadow">
    <div class="col-12 text-l text-light bg-success font-weigth-bold">
      Sign in
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),html: { class: "container-fluid"}) do |f| %>

    <div class="col-12 items-margin">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="col-12 items-margin">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div >
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end -%>

    <div class="row items-margin justify-content-center">
      <%= button_tag "style", class: 'btn btn-outline-success col-8 text-center' do %>
      <%= fa_icon 'sign-in', text:'Sign in' %>
      <% end %>
    </div>
    <% end %>

  </div>
  <%= render "devise/shared/links" %>
</div>
